.dayText {
    -fx-label-padding: 2 5 0 0;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
}

.incomeText {
    -fx-label-padding: 2 5 2 5;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
    -fx-background-color: "#009688";
    -fx-background-radius: 5;
    -fx-text-fill: white;
}